@page "/counter"
@inject IJSRuntime JS

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (currentCount > 0)
{
    <NavigationLock OnBeforeInternalNavigation="ReallyLeave" ConfirmExternalNavigation/>
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    async Task ReallyLeave(LocationChangingContext context)
    {
        var confirmed = await JS.InvokeAsync<bool>("window.confirm", "Are you sure you wanna leave, dude?");

        if (!confirmed)
        {
            context.PreventNavigation();
        }
    }
}
